.playlist {

}

.video-list {
  display: grid;
  row-gap: 2.5rem;
  margin-top: 3%;
  justify-items: center;
}

.video-item {
  cursor: pointer;
  position: relative;
}


.thumbnail:hover {
  transform: scale(1.025);
  transition: 1s all;
}

.video-item {
  position: relative;
}


.play-button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.video-item img {
  max-width: 400px;
  border-radius: 16px;
}
.video-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.video-description {
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  color: #AAAAAA;
}

.container-input {
  position: relative;
  margin-bottom: 25px;
}

.input {
  width: 250px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 350px;
}

.reorder-video-item {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}



.reorder-thumb-img {
  max-width: 150px;
  border-radius: 16px;
}

.reorder-thumb-img:hover {
  transform: scale(1.025);
  transition: 1s all;
}

.reorder-video-details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 275px;
}

.reorder-video-title {
  font-weight: 500;
}

.reorder-video-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 275px;
  color: #AAAAAA;
}

.drag-over {
  border-color: #007bff;
  background-color: #d6eaff;
  border-radius: 16px;
  color: black;
}

.current-video-playing {
  background-color: rgba(51,43,38,0.949);
  border-radius: 16px;
}
.reorder-video-item:hover {
  background-color: rgba(240, 239, 239, 0.196);
  border-radius: 16px;
}

@media (min-width: 1050px) {
  .video-list { grid-template-columns: repeat(2, 1fr); }

}

@media (max-width: 1050px) {
  .video-player-with-playlist { grid-template-columns: repeat(1, 1fr) !important; }

}

@media (min-width: 1560px) {
  .video-list { grid-template-columns: repeat(3, 1fr); }
}


